.certificate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.certificate-container{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    font-family:'teko';
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.certificate-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    width: 19rem; 
    border: .1rem solid white;
    border-radius: .5rem;

    img{
        height: 100%;
        width: 100%;
    }

    .btn{
        font-weight: bold;
        padding: 1rem;
        background-color:#3291de;
    }

    .btn:hover{
        background-color: #6bb3fc;
        transition: 0.3s;
    }

    .btn a{
        text-decoration: none;
        color: black;
    }
}

@media screen and (max-width : 1040px) {
    .certificate-container{
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        font-family:'teko';
        gap: 1.5rem;
        margin-bottom: 2rem;}
  }

  @media screen and (max-width : 790px) {
    .certificate-container{
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        font-family:'teko';
        gap: 1.5rem;
        margin-bottom: 2rem;}
  } 
  
